@import "tailwindcss";

@layer utilities {
  .bg-restaurant {
    background-image: url(./Images/background/restaurant-bcg.jpg);
  }
}

@theme {
  --font-tangerine: "Tangerine", cursive;
  --font-felipa: "Felipa", serif;
  --font-bellefair: "Bellefair", serif;
  --font-vendSans: "Vend Sans", sans-serif;
  --font-lexend: "Lexend Exa", sans-serif;

  /* Breakpoint */
  --breakpoint-lg: 70rem;
  --breakpoint-md: 60rem;
}

@layer components {
  .logo {
    @apply text-2xl md:text-3xl lg:text-4xl animate-pulse;
  }

  .logo-taste {
    @apply text-red-800;
  }

  .logo-delight {
    @apply text-yellow-400;
  }

  .nav-links {
    @apply hidden lg:flex font-bellefair text-base md:text-lg font-bold;
  }

  .links {
    @apply hover:text-yellow-300 hover:drop-shadow-[0_0_10px_rgba(255,180,0,0.9)] hover:drop-shadow-[0_0_20px_rgba(255,100,0,0.7)] transition-all duration-300;
  }

  .active {
    @apply text-yellow-100 font-semibold relative drop-shadow-[0_0_12px_rgba(255,200,0,0.9)];
  }

  .active-span {
    @apply absolute left-0 -bottom-1 w-full h-0.5 bg-yellow-300 drop-shadow-[0_0_6px_rgba(255,150,0,0.8)];
  }

  .mobile-active-span {
    @apply absolute left-0 -bottom-1 w-12 h-0.5 bg-yellow-300 drop-shadow-[0_0_6px_rgba(255,150,0,0.8)];
  }

  .hero {
    @apply grid grid-cols-1 md:grid-cols-2 items-center gap-8 px-6 md:px-12 relative;
  }

  .nav-btn {
    @apply font-lexend font-light bg-red-900 py-2 px-6 rounded-full transition-all duration-300 hover:scale-105 hover:shadow-[0_0_15px_rgba(255,100,50,0.7)];
  }

  .hero-left {
    @apply relative z-20 text-white flex flex-col gap-6 order-2 lg:order-1;
  }

  .hero-btns {
    @apply w-full flex flex-col sm:flex-row sm:items-center sm:gap-4 gap-4;
  }

  .hero-btn {
    @apply bg-red-900 text-white rounded-lg h-12 px-6 text-base md:text-lg font-lexend font-light transition-transform duration-300 hover:scale-105 hover:shadow-[0_0_15px_rgba(255,100,50,0.7)] flex items-center justify-center;
  }

  .hero-btn-outline {
    @apply flex items-center justify-center border-2 border-yellow-200 text-white rounded-lg h-12 px-6 text-base md:text-lg font-lexend font-light transition duration-300 hover:bg-yellow-200/20 hover:border-yellow-100 hover:scale-102  w-full sm:w-auto;
  }

  .hero-span1 {
    @apply inline-block bg-yellow-800/60 text-yellow-300/80 rounded-full px-4 py-2 text-sm w-50;
  }

  .hero-social-links {
    @apply flex gap-2 items-center text-center;
  }

  .fa-brands {
    @apply text-xl bg-yellow-500/10 pr-9 pl-4 pt-4 pb-4 rounded-full hover:bg-yellow-500/20 ease-out transition-all duration-400;
  }

  .mobile-menu-inner {
    @apply flex-col flex gap-8 text-white text-lg pl-6 pt-6 mt-12 font-bellefair md:flex-row justify-center;
  }
}
