@import "tailwindcss";

@layer utilities {
  .bg-restaurant {
    background-image: url(./Images/background/restaurant-bcg.jpg);
  }
}

@theme {
  --font-tangerine: "Tangerine", cursive;
  --font-felipa: "Felipa", serif;
  --font-bellefair: "Bellefair", serif;
  --font-vendSans: "Vend Sans", sans-serif;
  --font-lexend: "Lexend Exa", sans-serif;

  /* Breakpoint */
  --breakpoint-lg: 70rem;
  --breakpoint-md: 60rem;
}

@layer components {
  .logo {
    @apply text-4xl animate-pulse;
  }

  .logo-taste {
    @apply text-red-800;
  }

  .logo-delight {
    @apply text-yellow-400;
  }

  .nav-links {
    @apply font-bellefair text-xl font-bold;
  }

  .links {
    @apply hover:text-yellow-300 hover:drop-shadow-[0_0_10px_rgba(255,180,0,0.9)] hover:drop-shadow-[0_0_20px_rgba(255,100,0,0.7)] transition-all duration-300;
  }

  .active {
    @apply text-yellow-100 font-semibold relative drop-shadow-[0_0_12px_rgba(255,200,0,0.9)]
  }

  .active-span {
    @apply absolute left-0 -bottom-1 w-full h-0.5 bg-yellow-300 drop-shadow-[0_0_6px_rgba(255,150,0,0.8)]
  }

  .mobile-active-span {
    @apply absolute left-0 -bottom-1 w-12 h-0.5 bg-yellow-300 drop-shadow-[0_0_6px_rgba(255,150,0,0.8)]
  }

  .nav-btn {
    @apply font-lexend font-light bg-red-900 py-2 px-6 rounded-full transition-all duration-300 hover:scale-105 hover:shadow-[0_0_15px_rgba(255,100,50,0.7)];
  }
}
